@import url(./__item/photo-grid__item.css);

.photo-grid {
    width: 100%;
    min-height: 671;
    margin-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 213px);
    grid-auto-rows: 213px;
    grid-gap: 16px;
}