.places {
    max-width: 984px;
    min-height: 3392px;
    box-sizing: border-box;
    margin: 0;
    padding: 92px 0 0;
    list-style: none;
}

@media screen and (max-width: 1024px) {
    places {
        max-width: 928px;
        min-height: 3296px;
    }
}