@import url(./__logo/header__logo.css);
@import url(./__lang-box/header__lang-box.css);
@import url(./__lang-link/header__lang-link.css);

.header {
    width: 100%;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        box-sizing: border-box;
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0 16px;
    }
}