@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);

.intro {
    width: calc(100% - 2*100px);
    min-height: 428px;
    box-sizing: border-box;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 2*48px);
    }
}