.intro__title {
    max-width: 690px;
    font-size: 54px;
    line-height: 1.07;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 686px) {
    .intro__title {
        max-width: 368px;
        font-size: 40px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 436px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
    }
}